body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
  }

  .container,
  .midContainer {
    width: 65%;
    height: auto;
    padding: 12px 0;
  }

  .midContainer {
    border-top: 5px solid darkgrey;
    border-bottom: 5px solid darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 13px;
  }
  .box,
  .up,
  .doun {
    width: 150px;
    height: 80px;
    border-radius: 10px;
  }
  .up,
  .doun {
    position: relative;
    top: 0;
    left: 0;
  }
  .doun {
    left: calc(100% - 150px);
  }
  #box01 {
    background-color: pink;
  }
  #box02 {
    background-color: violet;
  }
  #box03 {
    background-color: red;
  }
  #box04 {
    background-color: forestgreen;
  }
  #box05 {
    background-color: blue;
  }
  #box06 {
    background-color: yellow;
  }